# eol=lf means use the same line endings in the working directory as in the
# index when the file is checked out, not use LF as the only line ending.
# This should prevent another layer of translations though.
# https://git-scm.com/docs/gitattributes#Documentation/gitattributes.txt-Settostringvaluelf
*.cs    text=auto eol=lf
*.proto text=auto eol=lf
